<div id="chanel" class="transitions-enabled">

	<% @chanels.each do |chanel| %>

		<div class ="box panel panel-default">
				<div data-toggle="modal" data-target="#myModal"%><%= image_tag(chanel.image(:medium)) %></div>

				<div class="panel-body">
								<%= render 'form' %>
														
					<%= link_to 'Delete', delete_chanel_path(chanel), method: :delete %>
				</div>

		</div>
	<% end %>

</div>



